<h1>Firefly Art Grants: <%= event_year %></h1>

<p>Are you an <%= link_to 'artist', new_sessions_artist_path %>?</p>

<p>Are you a member of the <%= link_to 'voting committee', new_sessions_voter_path %>?</p>

<p>Are you an <%= link_to 'administrator', new_sessions_admin_path %>?</p>

<%# XXX TEMP: Direct people to the smol grants %>
<p>Are you looking for the Smol grants?
<a href="https://docs.google.com/forms/d/1iSCthnLFzsk72B_fctuycP6F0p-ZiBscafBo38VsmRY">
Apply here!</a></p>